@import 'partials/vars';
@import 'partials/globals';
@import 'partials/header';
@import "partials/navbar";
@import 'partials/footer';

.navbar2{padding:24px;}
.bg-light{background-color: #c41230 !important;
}

.btn-secondary {
	background-color: #13284c !important;
	border-color: #13284c !important;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-lin {
	color: #ffffff;
}

.border-dark {
	border-color: #dee2e6 !important;
}