.navbar{
	padding:20px;
	box-shadow: 0px 1px 8px #999;
}

.navbar-dark {
	.navbar-nav {
		.nav-link {
			color: #fff;
		}
	}
}


.user-login-logout {
	.nav-link {
		color: #fff !important;
	}
}

.current-user-dropdown {
	.dropdown-menu {
		left: unset;
		right: 0;
	}
}