body.user-c.login-a {
	background-image: linear-gradient(#fff,#d0d0da,#13284c);
}

i.fa-star.fas {
	color:#FED000;
	position: relative;
	--bg-color: white;

	&:after {
		display: block;
		content: "\f005";
		font-weight: 400;
		color: rgb(64, 64, 64);
		position: absolute;
		top: 0;
	}

	.partial {
		display: block;
		background-color: var(--bg-color);
		position: absolute;
		top: 0;
		left: var(--partial);
		right: 0;
		bottom: 0;
	}
}

#feedback-app {
	.question-label {
		.fa-stack {
			font-size: 0.5rem;
		}
	}

	.form-row.odd {
		background-color: #f0f0f0;
	}
}

.rating-field {
	display: inline-block;

	.fa-star {
		cursor: pointer;
	}

	@for $i from 1 through 5 {
		&.score-#{$i} .score-#{$i} {
			font-weight: 900;
			color: #FED000;
		}
	}
}

form.feedback-response {
	label {
		.required {
			&:after {
				color: red;
				content: '*';
			}
		}
	}

	.rating-field-container.is-invalid {
		.invalid-feedback {
			display: block;
		}
	}
}

.aggregate-results {
	.percent {
		display: inline-block;
		width: 50px;
		font-weight: bold;

		&:after {
			content: '%';
		}
	}
}